@font-face {
    font-family: "TerminusTTF";
    src: url("/fonts/TerminusTTF-Bold-4.49.1.ttf");
}

/* Set map background to black */
.leaflet-container {
    background: black;
}

/*
 * Size the map to the entire browser viewport
 */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#map {
    width: auto;
    height: 100%;
}

/* 
 * Fixed-position heads up display
 */

#hud {
    font-family: 'TerminusTTF', monospace; 
    font-size: 24px; 
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vw;
    z-index: 9999;
    color: #ffffff;
    pointer-events: none;
    text-shadow: 1px 1px black;
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid white;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 10px 0 0;
    padding: 1rem;
    max-height: 20vh;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}

p {
    padding: 0;
    margin: 0;
}

/*
 * LeafletJS Tooltips
 */
.leaflet-tooltip {
    font-family: 'TerminusTTF', monospace; 
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 0 0.5rem;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

/* 
 * Hide the triangle in the tooltip
 */
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

/*
 * CRT Scanline effect
 */
#crt-effect {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 9999;
    background-size: 100% 10px, 3px 100%;
    pointer-events: none;
}

/*
 * CRT Flicker effect 
 */
@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}

#crt-effect::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.2);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}
